{#-
    For now, these are static
    later, tie them into the actual style

    This returns a dctionatry for styles
#}
{%-  set menu_bar_styles = {
        "menu_catagory": 
        {
            "backgroundColor": "#112211",
            "color": "#FFF",
            "curser": "pointer",
            "padding": "6px",
            "width": "100%",
            "border": "none",
            "textAlign": "left",
            "outline": "none",
            "fontSize": "15px",
            },
        "menu_plugins": {
            "padding": "0 18px",
            "display": "none",
            "overflow": "hidden",
            "backgroundColor": "#224422",
            "color": "#FFF"
            },
        }
%}
{%- set menu_bar_dynamic_styles = {
        "onmouseenter": {},
        }
%}
