{%- set panel_positions = {
            "top": 77,
            "left": 250,
            "right": 320,
            "bottom": 16,
            }
%}
{%- set panel_positions = data.get( "panel" , {} ).get( "positions" , {} ).get( "default" , panel_positions ) %}