{%- set panel_positions = {
            "expanded": {
                "top": 77,
                "left": 250,
                "right": 320,
                "bottom": 16,
                },
            "compact": {
                "top": 77,
                "left": 77,
                "right": 16,
                "bottom": 3,
                },
            }
%}