{%- set panel_id = "panel_footer"%}
{%- set panel_state = "expanded" %}
{%- set panel_footer_height = {
            "compact": 3,
            "expanded": 32,
            }
%}
{%- set static_style = {} %}
<div id="{{ panel_id }}">
footer
</div>
