{%- set panel_id = "panel_header" %}
{%- set panel_header_height = 77 %}
{%- set static_style = {
                "overflow": "hidden",
                "overflowX": "hidden",
                "position": "fixed",
                "zIndex": 1,
                "top": 0,
                "left": 0,
                "width": "100%",
                "height": "%spx" | format( panel_header_height )
                }
%}
{%- from "lib/style_js.jinja" import static_style_js with context %}
<div id="{{panel_id}}">
Header panel
<script>
{{ static_style_js }}
</script>
</div>