{%- set panel_id = "panel_header" %}
<div id="{{panel_id}}">
Header panel
</div>
<script>
{%- set panel_header_height = 77 %}
{%- set static_style = {
                "overflow": "hidden",
                "position": "fixed",
                "top": 0,
                "width": "100%",
                "height": "%spx" | format( panel_header_height )
                }
%}
{%- for property , value in static_style.items() %}
{%-     if value is string %}
{%-         set value = '"%s"' | format( value ) %}
{%-     endif %}
document.getElementById( "{{ panel_id }}" ).style.{{ property }} = {{ value }};
{%- endfor %}
</script>