{%- from "lib/panel_postions.jinja" import panel_positions with context %}
{%- set panel_id = "panel_left_menu" %}
{%- set panel_header_height = panel_positions.get( "top" , 0 ) %}
{%- set panel_width = panel_positions.get( "left" , 0 ) %}
{%- set static_style = {
            "overflow": "hidden",
            "overflowX": "hidden",
            "zIndex": 1,
            "position": "fixed",
            "left": 0,
            "top": "%spx" | format( panel_header_height ),
            "width": "%spx" | format( panel_width ),
            "height": "100%",
            }
%}
{%- from "lib/style_js.jinja" import static_style_js with context %}
<div id="{{ panel_id }}">
Left Menu
<script>
{{ static_style_js }}
</script>
</div>