{%- from "lib/panel_postions.jinja" import panel_positions with context %}
{%- set panel_id = "panel_left_menu" %}
{%- set panel_header_height = panel_positions.get( "top" , 0 ) %}
{%- set panel_width = panel_positions.get( "left" , 0 ) %}
{%- set static_style = {
            "overflow": "hidden",
            "overflowX": "hidden",
            "zIndex": 1,
            "position": "fixed",
            "left": 0,
            "top": "%spx" | format( panel_header_height ),
            "width": "%spx" | format( panel_width ),
            "height": "100%",
            }
%}
{%- from "lib/style_js.jinja" import static_style_js with context %}
{%- set left_menu = data.get( "left_menu" , {} ) %}
<div id="{{ panel_id }}">
{#  Load plugins into left menu #}
{%- set menu_item_ids = {} %}
{%- for catagory , plugins in left_menu.items() %}
{%-     set catagory_id = "%s_%s" | format( panel_id , catagory ) %}
{%-     set _update = menu_item_ids.update(
                {
                    catagory_id: [],
                    }
                )
%}
    <button type="button" id="{{ catagory_id }}" class="collapsible">{{ catagory }}</button>
    <div id="{{ catagory_id }}" class="content">
{%-     for plugin , yaml_file in plugins.items() %}
{%-         set plugin_id = "%s_%s" | format( catagory_id , plugin ) %}
{%-         set _append = menu_item_ids[ catagory_id ].append( plugin_id ) %}
{{plugin_id}}: {{plugin}} - {{yaml_file}}<br>
{%-     endfor %}
    </div>
{%- endfor %}
{#- Script for menu item collapsing #}
    <script>
var col = document.getElementsByClassName( "collapsible" );
var item;
for ( item = 0 ; item < col.length ; item++ ){
    col[ item ].addEventListener( "click" , function(){
        this.classList.toggle( "active" );
        var content = this.nextElementSibling;
        if( content.style.display === "block" ){
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}
    </script>

    <p>

{%- for catagory , plugins in menu_item_ids.items() %}
{{      catagory }}<br>
    <ul>
{%-     for plugin in plugins %}
        <li>{{ plugin }}</li>
{%-     endfor %}
    </ul>
    <p>
{%- endfor %}

    <script>
{{      static_style_js }}
    </script>
</div>