{%- set left_menu = {} %}
{%- set plugins = data.get( "plugins" , {} ) %}

{%- for _ , plugin in plugins.items() %}
{%-     set plugin_catagory = plugin.get( "catagory" ) %}
{%-     set _update = left_menu.update( { plugin_catagory: {} } ) %}
{%- endfor %}
{%- set catagories = catagories | unique %}

{%- for _ , plugin in plugins.items() %}
{%-     set plugin_name = plugin.get( "name", "" ) %}
{%-     set plugin_catagory = plugin.get( "catagory" ) %}
{%-     for key , value in plugin.items() %}
{%-         set _update = left_menu[ plugin_catagory ].update( { plugin_name: plugin } ) %}
{%-     endfor %}
{%- endfor %}

{%- for catagory , plugins in left_menu.items() %}
{%-     set catagory_id = "%s_%s" | format( panel_id , catagory ) %}
    <button type="button" id="{{ catagory_id }}" class="menu_catagory">{{ catagory }}</button>
    <div id="{{ catagory_id }}" class="menu_plugins" style="display: block">
{%-     for plugin , yaml_file in plugins.items() %}
{%-         set plugin_id = "%s_%s" | format( catagory_id , plugin ) %}
        <div id="{{ plugin_id }}" class="menu_plugin">
{{          plugin}}
        </div>
{%-     endfor %}
    </div>
{%- endfor %}

{#- Scripts #}
<script src="/js/left_menu.js"></script>