{%-  for element_id , properties in style.items() %}
{%-     for property , value in properties.items() %}
{%-         if value is string %}
{%-             set value = '"%s"' | format( value ) %}
{%-         endif %}
{%-       if element_id == "body" %} {#- If others are the same, use or here #}
document.{{element_id}}.style.{{property}} = {{ value }};
{%-       else %}
document.getElementById( "{{ element_id }}" ).style.{{ property }} = {{ value }};
{%        endif %}
{%-     endfor %}
{%-  endfor %}